.grupolista{
    display: flex;
    align-items: center;
}

#divmodal{
    display: flex;
    flex-direction: column;
}

#modalfooter{
    display: flex;
    justify-content: space-between;
}

#btnfechar{
    display: flex;
    justify-content: center;
    border: 0px;
}

.wpp{
    border-radius: 20px;
    border: 1px solid black;
    width: 200px;
}

.carouselmeu{
    transition: all .3s;
}

#img{
    border: 0;
}

#img:active{
    border: 0;
}

.imagecaurosel{
width: 100%;
height: 450px;
}



ul.slick-slider
{
    position: relative;

    display: none;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: block;
}

.slick-prev.slick-arrow{
    font-size: 0px;
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 450px;
    color: transparent;
    background: #dcdcdc78;
    border: 0;
}

.slick-next.slick-arrow{
    font-size: 0px;
    position: absolute;
    z-index: 1;
    width: 40px;
    left: 727px;
    top: 16px;
    height: 450px;
    color: transparent;
    background: #dcdcdc78;
    border: 0;
}


.deletepai{
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0,0.72);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    position: fixed;
}

.deletebox{
    position: absolute;
    width: 380px;
    height: 270px;
    background-color: white;
    border-radius: 20px;
}


.deletebolder{
    font-weight: bolder;
    font-size: 30px;
    color: black;
}
.deletep{
    margin: 20px;
    font-size: 20px;
    color: rgb(117, 116, 116);
}

.margimp{
    margin: 20px;
    font-size: 20px;
    color: rgb(117, 116, 116);
    margin-bottom: 45px;
}

.btndel{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imgatualizar{
    transition: all 0.5s;
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    height: 150px !important;
    width: 200px;
    cursor: pointer;
    transform: scale(1);
    position: relative;
    z-index: 1;
}

.imgatualizar:hover{
    background-color: #33333376;
    color: #33333376;
    opacity: 90%;
    transform: scale(1.1);
    z-index: 2;
}

input[type="file"] {
    display: none;
}
.labelfiles {
    padding: 20px 10px;
    width: 200px;
    height: 150px;
    background-color: #5c5b5b93;
    color: #FFF;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
}

#imgfile{
    width: 50px;
    height: 50px;
}